// Global variables that might be used across different modules
$enable-dark-mode: true;
$enable-rtl: false;
$enable-reduced-motion: true;

$column-count: 12 !default;

$color-primary: #007bff !default;
$color-secondary: #6c757d !default;
$color-success: #28a745 !default;
$color-danger: #dc3545 !default;
$color-warning: #ffc107 !default;
$color-info: #17a2b8 !default;
$color-light: #f8f9fa !default;
$color-dark: #1c1f22 !default;

$colors: (
  'primary': $color-primary,
  'secondary': $color-secondary,
  'success': $color-success,
  'danger': $color-danger,
  'warning': $color-warning,
  'info': $color-info,
  'light': $color-light,
  'dark': $color-dark
);

// Breakpoints
$breakpoints: (
  'xs': 480px,
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
  'xxl': 1536px, 
);

// Container max-widths
$container-max-widths: (
  'xs': 450px,
  'sm': 540px,
  'md': 720px,
  'lg': 960px,
  'xl': 1140px,
  'xxl': 1320px,
);

// _variables.scss
$font-sizes: (
  'xs': 0.75rem,  // 12px
  'sm': 0.875rem, // 14px
  'md': 1rem,     // 16px
  'lg': 1.25rem,  // 20px
  'xl': 1.5rem,   // 24px
  '2xl': 1.75rem, // 28px
  '3xl': 2rem,    // 32px
  '4xl': 2.5rem   // 40px
);

$padding-map: (
  'xs': 0.25rem 0.5rem,
  'sm': 0.375rem 0.75rem,
  'md': 0.5rem 1rem,
  'lg': 0.75rem 1.5rem,
  'xl': 1rem 2rem,
  '2xl': 1.25rem 2.5rem,
  '3xl': 1.5rem 3rem,
  '4xl': 2rem 4rem
);

$spacings: (
  0,1,2,3,4,5,6,7,8,9,10,12,14,15,16,18,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100،125,150,175,200,250,300,350,400,450,500
)