@use 'sass:color';
@use 'sass:map';

@use '../utilities/variables' as *;

[data-theme="dark"] {
  // ... other dark theme variables ...
  
  --font-family-heading: var(--font-family-base);
  --text-primary: #{map.get($colors, 'light')};
  --link-color: #{color.scale(map.get($colors, 'primary'), $lightness: 10%)};
  --link-hover-color: #{color.scale(map.get($colors, 'primary'), $lightness: 20%)};
}