@use 'sass:color';
@use 'sass:map';
@use './theme' as *;
@use '../utilities/variables' as *;

[data-theme="dark"] {
  // ... other dark theme variables ...
  @include generate-theme-colors('dark');
  
  --font-family-heading: var(--font-family-base);
  $base-dark-color: map.get($colors, 'dark');

  --input-bg: #{color.scale($base-dark-color, $lightness: -20%)};
  
  // --text-primary: #{map.get($colors, 'light')};
  // --link-color: #{color.scale(map.get($colors, 'primary'), $lightness: 10%)};
  // --link-hover-color: #{color.scale(map.get($colors, 'primary'), $lightness: 20%)};


  // --nav-bg: #{map.get($colors, 'dark')};
  // // --nav-hover: #{color.scale(map.get($colors, 'light'), $lightness: -10%)};
  // --nav-hover: black;
  // --nav-text: #{map.get($colors, 'white')};


}