// _theme.scss
@use 'sass:color';
@use 'sass:map';
@use '../utilities/colors' as *;
@use '../utilities/variables' as *;


 

// Generate scales for primitives
$colors-primitives: ();

@each $name, $color in $color-primitives {
    $colors-primitives: map.set($colors-primitives, $name, create-color-scale($color));
}

:root {
  @each $color-name, $scale in $colors {
    --#{$color-name}: #{color.adjust(map.get($scale, 500), $alpha: 1)};
    @each $shade, $value in $scale {
      --#{$color-name}-#{$shade}: #{color.adjust($value, $alpha: 1)};
    }
  }

  @each $color-name, $scale in $colors-primitives {
    --#{$color-name}: #{color.adjust(map.get($scale, 500), $alpha: 1)};
    @each $shade, $value in $scale {
      --#{$color-name}-#{$shade}: #{color.adjust($value, $alpha: 1)};
    }
  }

  --background: #{map.get($light-theme, 'background')};
  --foreground: #{map.get($light-theme, 'foreground')};
  --surface: #{map.get($light-theme, 'surface')};
  --border: var(--primary-600);
  --text-primary: var(--gray-900);
  --text-secondary: var(--gray-600);
  --button-bg-color: var(--primary);
  --button-bg-color-hover: var(--primary-600);
  --button-text-color: var(--gray-100);
  --link-color: var(--primary);
  --link-hover-color: var(--primary-600);
}

[data-theme="dark"] {
  --background: #{map.get($dark-theme, 'background')};
  --foreground: #{map.get($dark-theme, 'foreground')};
  --surface: #{map.get($dark-theme, 'surface')};
  --border: var(--primary-400);
  --text-primary: var(--gray-100);
  --text-secondary: var(--gray-400);
  --button-bg-color: var(--primary);
  --button-bg-color-hover: var(--primary-400);
  --button-text-color: var(--gray-200);
  --link-color: var(--primary);
  --link-hover-color: var(--primary-400);
}

// --font-family-heading: var(--font-family-base);
// --text-primary: #{map.get($colors, 'dark')};
// --link-color: #{map.get($colors, 'primary')};
// --link-hover-color: #{color.scale(map.get($colors, 'primary'), $lightness: -10%)};

// --nav-bg: #{map.get($colors, 'light')};
// // --nav-hover: #{color.scale(map.get($colors, 'light'), $lightness: -10%)};
// --nav-hover: white;
// --nav-text: #{map.get($colors, 'dark')};

//   // Link Colors
//   --link-color: var(--primary);
//   --link-hover-color: #{color.scale(map.get($colors, 'primary'), $lightness: if($theme == 'light', -10%, 10%))};
//   --link-active-color: #{color.scale(map.get($colors, 'primary'), $lightness: if($theme == 'light', -20%, 20%))};
//   --link-visited-color: #{color.scale(map.get($colors, 'primary'), $saturation: -20%)};

//   // Tooltip
//   --tooltip-bg: var(--dark);
//   --tooltip-text: var(--light);
//   --tooltip-shadow-color: rgb(0 0 0 / 40%);
//   --microtip-transition-duration: 0.518s;
//   --microtip-transition-delay: .2s;
//   --microtip-transition-easing: cubic-bezier(0.16, 1, 0.9, 1);
//   --microtip-font-size: 0.875rem;
//   --microtip-font-weight: 300;
//   --microtip-text-transform: none;
