@use 'sass:map';
@use '../utilities/variables' as VAR;

// Base container styles
@mixin container-base {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@mixin container-padding($padding) {
  & {
    padding-top: $padding;
    padding-bottom: $padding;
  }
}


// Responsive container mixin
@mixin container($display: block) {
  display: $display;
  @include container-base;
  @each $breakpoint, $width in VAR.$breakpoints {
    @media (min-width: $width) {
      max-width: $width - 100px;
    }
  }
  @include container-padding(1rem);
}

// Container classes
.container {
  @include container;
}

.container-flex {
  @include container(flex);
}

.container-grid {
  @include container(grid);
}

.container-fluid {
  @include container-base;
  @include container-padding(1rem);
}

.container-no-padding {
  @include container;
  @include container-padding(0);
}